<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품정보 input으로 입력받기</title>
</head>
<style>
    th,td{
        border: 1px solid black;
    }
</style>
<body>
    <form action="productTest">
        상품명: <input type="text" name="productName">
        상품가격: <input type="text" name="productPrice">
        상품재고: <input type="text" name="productCount">
        상품브랜드: <input type="text" name="productBrand">
        <button type="submit">확인</button>
    </form>
    <table>
        <tr>
            <th>상품명</th>
            <th>상품가격</th>
            <th>상품재고</th>
            <th>상품브랜드</th>
        </tr>
        <tr th:object="${productVO}">
            <td th:text="*{productName}"></td>
            <td th:text="*{productPrice}"></td>
            <td th:text="*{productCount}"></td>
            <td th:text="*{productBrand}"></td>
        </tr>
    </table>


</body>
</html>